.checkout {
  height: 100vh;
  width: 100vw;
  padding: 15px;
  background: var(--bg-color);

  textarea, input {
    margin-top: 5px;
    width: 100%;
    border: none;
    outline: none;
    padding: .8rem 15px;
    background: var(--secondary-bg-color);
    caret-color: var(--text-color);
    color: var(--text-color);
    resize: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: grid;
  place-items: center;
  font-size: clamp(10vw, 30vw, 100vw);
  color: white;
  transition: opacity .4s ease-in-out;
}

.visible {
  left: 0;
  opacity: 1;
}

.loader {
  position: relative;
  width: .15em;
  height: .15em;
  background-color: currentcolor;
  border-radius: 100%;
  animation: loader-1 30s infinite linear;
  &:before, &:after {
    content: '';
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:before {
    width: .3em;
    height: 1em;
    animation: loader-2 .8s linear infinite;
  }
  &:after {
    width: 1em;
    height: .3em;
    animation: loader-2 1.2s linear infinite;
  }
}
@keyframes loader-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-2 {
  0% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
  }
  25% {
    box-shadow: 0.04em 0.04em 0 0.02em currentcolor;
  }
  50% {
    box-shadow: -0.04em 0.04em 0 0.02em currentcolor;
  }
  75% {
    box-shadow: -0.04em -0.04em 0 0.02em currentcolor;
  }
  100% {
    box-shadow: 0.04em -0.04em 0 0.02em currentcolor;
  }
}

.toast {
  background: var(--bg-color);
  color: var(--text-color);
}

.title {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  div {
    display: flex;
    flex-direction: column;
  }
}

@mixin collapsible {
  height: auto;
  max-height: 0;
  transition: .3s ease-in-out;
  overflow: hidden;
}

.promoDiscount {
  @include collapsible;
  color: #31b545;
}

.promoCodeTotal {
  @include collapsible;
}

.promoDiscountOpen {
  margin-top: 10px;
  max-height: 100px;
}

.promoCodeOpen {
  max-height: 100px;
}

.checkoutProductList {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product {
  display: flex;
}

.productImage {

}

.productTextContainer {
  margin-left: 15px;
}

.productName {
  color: var(--hint-color);
}

.productQuantity {
  color: var(--hint-color);
}

.productPrice {
  margin-left: auto;
  color: var(--hint-color);
}

.red {
  color: #d31f1f;
}

.wrongEmail {
  input {
    outline: 1px solid #d31f1f;
  }
}

.totalBlock {
  padding-top: 10px;
}

.totalItem {
  display: flex;
  justify-content: space-between;
}

.subtotal {
  color: var(--hint-color);
}

.subscript {
  padding: 10px 15px 15px;
  font-size: 0.9rem;
  color: var(--hint-color);
}

.deliveryType {
  margin: 20px 0;
  padding: 15px;

  label {
    margin: -15px;
    padding: 15px 15px 15px 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  div {
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      left: -15px;
      right: -15px;
      height: 100%;
      transition: .3s ease-in-out all;
      pointer-events: none;
    }
  }

  & > div:has(> input:checked)::after {
    backdrop-filter: invert(.25);
  }

  input[type="radio"] {
    display: none;
  }
}

.total {
  font-weight: bold;
}

.paymentDetails {
  padding-top: 15px;
}
