.header {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

@mixin tgButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  transition: .3s ease-in-out all;

  * {
    color: var(--hint-color);
  }
}

@mixin outlineButton {
  position: relative;
  background: transparent;
  padding: .4rem;
  margin: -.4rem;

  &:active {
    &::after {
      opacity: 1;
    }
  }

  @media (pointer: fine) {
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 140%;
    height: 140%;
    border-radius: 50%;
    backdrop-filter: invert(.3);
    opacity: 0;
    transition: .1s ease-in-out all;
  }
}

.arrowButton {
  @include tgButton;
  @include outlineButton;

  svg {
    transition: .3s ease-in-out .07s;
  }
}

.searchBar {
  flex-grow: 1;
  margin-left: calc(1.3rem + 4%);
  min-width: 100px;
  border: 2px solid var(--hint-color);
  border-radius: 20px;
  background: transparent;
  outline: none;
  caret-color: var(--text-color);
  transition: .3s ease-in-out;
  font-size: 1.1rem;
  text-indent: 1.5rem;
  color: var(--text-color);

  &::placeholder {
    color: var(--hint-color);
    font-size: 1.1rem;
    text-indent: 1.5rem;
  }
}

.searchBar:focus {
  border-color: var(--text-color);
  box-shadow: 0 0 8px 0 var(--text-color);
}

.cartButton {
  @include tgButton;
  @include outlineButton;
}

.cartBackButton {
  @include tgButton;
  @include outlineButton;
  margin: 20px;
}
