.productList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 365px) {
    .productImage {
      width: 95%;
      height: 95%;
    }
  }
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 5px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.productCard {
  padding: 10px;
  display: grid;
  place-items: center;
}

.productImage {

}

.productName {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.price {
  font-size: 0.9rem;
}

.buttons {
  position: relative;
  width: 144px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

@mixin productButton {
  padding: 5px;
  width: 62px;
  height: 30px;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 22px;
  border-radius: 7px;
  border: none;
  transition: .3s ease-in-out all;
}

.buttonAdd {
  @include productButton;
  z-index: 100;
  position: absolute;
  right: 0;
  width: 144px;
  background: #eeb039;
  .shrink {
    width: 62px;
  }
}

.buttonRemove {
  @include productButton;
  background: #d6573b;
}
